{% extends "Views/Default/header.html" %}
{% block bg-header %} {% endblock bg-header %}

{% block content %}
<main>
    <div class="container">
        <form action="{% url 'buscar' %}" method="GET">
            <div class="form-row">
                <input type="text" placeholder="Buscar" name="filtrar" id="filtrar">
                <input type="submit" value="Buscar" class="button">
                <p>Mostrando {{count2}} registros</p>

            </div>
        </form>


        <div class="" id="BlogView">
            {% for n in blogsearch  %}
            <div class="blog-content container ">
                <div class="blog-img"><img src="{{ n.image.url}}">
                </div>

                <div class="blog-info">
                    <div class="blog-date">{{ n.created}}</div>

                    <h1>{{ n.title}}</h1>
                    <p>{{ n.description}}</p>
                    <div class="btn-see"> <a href="#" class="button">Leer más</a>
                    </div>

                </div>
            </div>

            {% endfor %}


        </div>

        {% if count2 == 0 %}
        <p style="text-align: center; padding: 10em;">No se encontraron resultados</p>
        {% else %}
        <div id="paginationsearch" class="wer">
            <ul class="pagination">
                {% if blogsearch.has_previous %}

                <li class="page-item">
                    <a href="{{request.path}}?page={{ blogsearch.previous_page_number }}{% if request.GET.filtrar %}&filtrar={{ request.GET.filtrar }}{% endif %}"
                        class="page-link" id="previous">Anterior</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href=" " class="page-link inactive" id="previous">Anterior</a>
                </li>
                {% endif %}

                {% for page in blogsearch.paginator.page_range  %}
                <li class=" {% if blogsearch.number == page %}current{% endif %} page-item">
                    <a class="page-link"
                        href="{{request.path}}?page={{ page }}{% if request.GET.filtrar %}&filtrar={{ request.GET.filtrar }}{% endif %}"
                        id="previous">{{ page }}</a>

                </li>
                {% endfor %}

                {% if  blogsearch.has_next %}
                <li class="page-item">
                    <a href="?page={{  blogsearch.next_page_number }}{% if request.GET.filtrar %}&filtrar={{ request.GET.filtrar }}{% endif %} "
                        class="page-link">Siguiente</a>
                </li>
                <li class="page-item">
                    <a href="{{request.path}}?page={{ blogsearch.paginator.num_pages }}{% if request.GET.filtrar %}&filtrar={{ request.GET.filtrar }}{% endif %}"
                        class="page-link">Último</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="{{request.path}}?page=1{% if request.GET.filtrar %}&filtrar={{ request.GET.filtrar }}{% endif %}"
                        class="page-link">Primero</a>
                </li>
                <li class="page-item">
                    <a href="{{request.path}}?page={{ blogsearch.paginator.num_pages }}{% if request.GET.filtrar %}&filtrar={{ request.GET.filtrar }}{% endif %}"
                        class="page-link inactive">Último</a>
                </li>
                {% endif %}


            </ul>
        </div>
        {% endif %}


    </div>
</main>
{% endblock content %}