<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  <link rel="stylesheet" href="{% static '/css/login.css' %}">
  <script src="{% static '/js/js.js' %}"></script>
  <title>Login</title>
</head>

<body class="body">



  {% load i18n static %}

  <div class="login">
    <div id="container">
      <div class="logo-login">
        <img src="{% static '/img/milogo.png' %}" alt="" class="img-login">
        <p style="margin-left: 10px;">Mi Blog</p>


      </div>
      {% if form.errors and not form.non_field_errors %}
      <p class="errornote text-danger">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
      </p>
      {% endif %}

      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}

      {% endfor %}
      {% endif %}

      <div id="content-main">

        {% if user.is_authenticated %}
        <p class="errornote text-danger">
          {% blocktrans trimmed %}
          You are authenticated as {{ username }}, but are not authorized to
          access this page. Would you like to login to a different account?
          {% endblocktrans %}
        </p>
        {% endif %}

        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
          <div class="form-row">
            {{ form.username.errors }}
            {{ form.username.label_tag }} {{ form.username }}
          </div>
          <div class="form-row">
            {{ form.password.errors }}
            {{ form.password.label_tag }} {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}">
          </div>
          {% url 'admin_password_reset' as password_reset_url %}
          {% if password_reset_url %}
          <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
          </div>
          {% endif %}
          <div class="form-row">
            <input type="submit" class="btn " value="{% trans 'Log in' %}">

          </div>

        </form>
      </div>
    </div>
  </div>
  <footer class="footer-login">

    <p>&copy; 2020 Joel Huacre Enciso</p>
  </footer>
</body>

</html>